@page "/"
@rendermode InteractiveServer

<PageTitle>Video To Speech POC</PageTitle>

<h1>Video List</h1>

@if (!string.IsNullOrEmpty(statusMessage))
{
    <p>@statusMessage</p>
}

@if (videos == null)
{
    <p>Loading...</p>
}
else if (videos.Count == 0)
{
    <p>No videos found.</p>
}
else
{
    <EditForm Model="this">
        <InputRadioGroup @bind-Value="SelectedVideoId">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Last Indexed</th>
                        <th>State</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var video in videos)
                    {
                        <tr>
                            <td>
                                <InputRadio Value="video.Id" />
                            </td>
                            <td>@video.Name</td>
                            <td>@video.Id</td>
                            <td style="white-space: normal;">@video.Description</td>
                            <td>@video.Created.ToShortDateString()</td>
                            <td>@video.LastIndexed.ToShortDateString()</td>
                            <td>@video.State</td>
                            <td>@FormatDuration(video.DurationInSeconds)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </InputRadioGroup>
    </EditForm>
}

@if (!String.IsNullOrEmpty(SelectedVideoId))
{
    var selectedVideo = videos.FirstOrDefault(v => v.Id == SelectedVideoId);
    if (selectedVideo != null)
    {
    <h2>Video Details</h2>
        <p><strong>Name:</strong> @selectedVideo.Name</p>
        <p><strong>Description:</strong> @selectedVideo.Description</p>
        <p><strong>Created:</strong> @selectedVideo.Created.ToShortDateString()</p>
        <p><strong>Last Indexed:</strong> @selectedVideo.LastIndexed.ToShortDateString()</p>
        <p><strong>State:</strong> @selectedVideo.State</p>
        <p><strong>Duration:</strong> @FormatDuration(selectedVideo.DurationInSeconds)</p>
        <h3>Video Summaries</h3>
        @if (selectedVideoSummaries != null && selectedVideoSummaries.Count > 0)
        {
            <ul>
                @foreach (var summary in selectedVideoSummaries)
                {
                    <li>
                        <div style="white-space: pre-wrap;">@summary.Value.Summary</div>
                        <h4 class="card-title">Generate audio file</h4>
                        <button @onclick="async () => await GenerateAudio(summary.Key)" class="btn btn-primary" disabled="@(isProcessing)">Generate Audio</button>
                        <div>
                            @if (!string.IsNullOrEmpty(summary.Value.AudioFileToken))
                            {
                                <audio controls>
                                    <source src="@($"api/audio/{summary.Value.AudioFileToken}")" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                                <p>
                                    <a href="@($"api/audio/{summary.Value.AudioFileToken}")" download>Download Audio File</a>
                                </p>
                            }
                        </div>
                    </li>
                }
            </ul>
        }
        else if (selectedVideoSummaries != null)
        {
            <p>No summaries available for the selected video.</p>
            <div class="form-group">
                <label for="summaryLength">Summary Length:</label>
                <select id="summaryLength" class="form-control" @bind="summaryLength">
                    <option value="Short">Short</option>
                    <option value="Medium">Medium</option>
                    <option value="Long">Long</option>
                </select>
            </div>
            <div class="form-group">
                <label for="summaryStyle">Summary Style:</label>
                <select id="summaryStyle" class="form-control" @bind="summaryStyle">
                    <option value="Neutral">Neutral</option>
                    <option value="Casual">Casual</option>
                    <option value="Formal">Formal</option>
                </select>
            </div>
            <button class="btn btn-primary" @onclick="RequestSummaryAsync">Request Summary</button>
        }
        else
        {
            <p>Loading summaries.</p>
        }
    }
}
