@page "/"

<PageTitle>Video To Speech POC</PageTitle>

<h1>Video List</h1>

@if (!string.IsNullOrEmpty(statusMessage))
{
    <p>@statusMessage</p>
}

@if (videos == null)
{
    <p>Loading...</p>
}
else if (videos.Count == 0)
{
    <p>No videos found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Description</th>
                <th>Created</th>
                <th>Last Indexed</th>
                <th>State</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in videos)
            {
                <tr>
                    <td>@video.Name</td>
                    <td>@video.Id</td>
                    <td style="white-space: normal;">@video.Description</td>
                    <td>@video.Created.ToShortDateString()</td>
                    <td>@video.LastIndexed.ToShortDateString()</td>
                    <td>@video.State</td>
                    <td>@FormatDuration(video.DurationInSeconds)</td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Add New Video</h2>
<p>
    <NavLink class="btn btn-primary" href="/add-video-url">Add Video by URL</NavLink>
   @*  <NavLink class="btn btn-primary" href="/add-video-upload">Add Video by Uploading</NavLink> *@
</p>

